footer[role='contentinfo']
  {
    background-color: $c-dark-green;
    &, a { color: #fff; }

    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;


    .form-inline
      {
        max-width: 412px;
      }

     @include maxTablet()
      {

        .footer-row
          {
            .d-t_cell
              {
                display: block;
                text-align: center;
                padding-bottom: $vertical-rythm;
              }
          }
      }
  }