extends extends/layout.pug

block html
	- var bodyclass = 'page-inside'

block head
	- var pageTitle = 'Airalab Rus'

block content
	main(role="main")
		.w-text
			h1 Контакты
			p АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР РОБОТОТЕХНИКИ "АИРАЛАБ РУС"
			hr/
			p
				b ОКВЭД: 
				br/
				| 72.19 Научные исследования и разработки в области естественных и технических наук
			p
				b E-mail: 
				br/
				| ping@airalab.org
			p
				b Телефон: 
				br/
				| +79278944911