extends extends/layout.pug

block html
	- var bodyclass = 'page-inside'

block head
	- var pageTitle = 'Поддержка наших проектов'

block content
	main(role="main")
		.w-text
			h1 Спасибо за ваше участие!
			p: img.i-block(alt="", src="assets/i/banner-website-donation.jpg")
			p.t-paragraph-hyphened Ваша поддержка для нас не только материальное обеспечение на будущее, но ещё и большой мотиватор развивать проекты с большей энергией и энтузиазмом.
