extends extends/layout.pug

block html
	- var bodyclass = 'page-inside'

block head
	- var pageTitle = 'Поддержка наших проектов'

block content
	main(role="main")
		.w-text
			h1 Поддержка наших проектов
			p: img.i-block(alt="", src="assets/i/banner-website-donation.jpg")
			p.t-paragraph-hyphened При работе над проектами мы используем большое количество времени высококвалифицированных инженеров, деньги на сопутствующее оборудование, интернет и кофе. Если вам нравятся наши проекты, станьте нашим другом и пожертвуйте любую сумму на наше развитие.
			.sec-bordered.t-align-center
				p: b Разовая поддержка любой суммой от 100 руб.
				form
					#donation-sum.inp-paysum
						input#sum(type="text", value="", placeholder="0.00", required)
						//- #donation-sum-msg
					br/
					.btn-iconed.btn-iconed--pay
						span.btn-iconed--icon.sprite-basic-credit-card
						input.btn.btn-yellow#sum-submit(type="submit", value="Поддержать")
				br/
				img.i-payment-methods(alt="", src="assets/i/payment-methods.png", srcset="assets/i/payment-methods@2x.png")

				.hr-titled
					span или
					hr/

				p: b Ежемесячная поддержка
				a.btn-blue(href="", target="_blank") Стать патроном на PATREON

	script.
		document.getElementById("sum-submit").disabled = true;

		function number_format( number ) {
			return parseFloat(number.replace(",", "."));
		}

		function set_error(o){
			o.classList.add("error");
			document.getElementById("sum-submit").disabled = true;
			o.focus();
		}

		function remove_error(o){
			o.classList.remove("error");
			document.getElementById("sum-submit").disabled = false;
			o.focus();
		}

		function check_error(o){
			if( (parseFloat(o.value) < 99) || (/[a-zа-яё]/i.test(o.value)) || o.value=='')
				return true;
		}

		sum.oninput = function() {
			
			if(!check_error(this)) {
				remove_error(this);
			}
			else{
				set_error(this);
			}
		};


		sum.onblur = function() {
			if(!check_error(this)) {
				var result = number_format(this.value);
				this.value = result;
			}
		};

